/*define variable*/
:root{
	--dark-brown: #252727;
	--med-brown: #5e5752;
	--light-brown: #ead5c4;
	--text-on-image: #5e5752;
}

/*general*/
*{
	box-sizing:border-box;
	font-family: 'Quicksand', serif;
	padding: 0;
}
html body{
	background-color: var(--med-brown);
}

/*links*/
.invis-link, .invis-link:hover, .invis-link:focus{
	color: #5e5752;
	text-decoration:none;
}
.vis-link{
	color:white;
}
.vis-link:hover, .invis-link:focus{
	color:var(--light-brown);
}

/*banner*/
.banner, #nav-banner{
	padding: 0;
	margin: 0px;
	display: flex;
	color:#5e5752;
	width:100%;
	text-decoration:none;
	background-color: transparent	;
	text-shadow: 1px 1px 1px var(--dark-brown);
	font-size: 1.25em;
}
#logo{
	width: 70px;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 5px;
}
#bars{
	color: white;
	font-size: 2.25em;
}

/*front pages*/
#front-page{
	padding-left: 0px;
	background: url("photos/frontpage.jpg");
	background-repeat:no-repeat;
	background-size: 100% auto;
	height: 1000px;
}
#about-page{
	padding-left: 0px;
	background: url("photos/aboutme.jpg");
	background-repeat:no-repeat;
	background-size: 100% auto;
	height: 1000px;
}
#projects-page{
	padding-left: 0px;
	background: url("photos/project.jpg");
	background-repeat:no-repeat;
	background-size: 100% auto;
	height: 1000px;
}
.home-image{
	position: absolute;
}
.big-text{
	position: relative;
	margin-left: 15px;
	color: var(--text-on-image);
	top: 20%;
	left: 1%;
}
#projects-text{
	top:10%;
}

/*content*/
.container-fluid, #content-page1, #content-page2{
	padding-right: 0px;
	padding-left:0px;
	margin: 0px;
	position:relative;
}
.text-box{	
	width:40%;
	padding:15px;
}
.content-image{
	padding:15px;
	position: relative;
	width: 40%;
}
#content-page1 .content-image{
	left:10%;
}
#content-page1 .text-box{
	position: absolute;
	top: 35%;
	right: 10%;
	width: 40%;
	text-align: left;
}
#content-page2 .content-image{
	position:absolute;
	right:10%;
}
#test-text{
	position: absolute;
	top: 35%;
	left: 10%;
	width: 40%;
	height: 33.3%;
	text-align: left;
}
.list{
	color:white;
	list-style-type:none;
	margin:0;
	padding:0;
}
.description{
	padding:0;
	margin:0;
	margin-bottom:0px;
}
.header, .description{
	color:white;
}
@media only screen and (min-width: 1200px){
	.big-text{
		font-size: 7.5em;
	}
	#lehigh-image, #lab-image{
		float: bottom;
	}
}
@media only screen and (min-width: 768px)and (max-width: 1199px){
	.big-text{
		font-size: 5em;
	}
}
@media only screen and (max-width:767px){
	.big-text{
		font-size: 3em;
	}
	#lehigh-image, #lab-image{
		width: 100%;
		left: 0%;
		padding-left: 15px;
	}
	.text-box{
		position: relative;
		width: 100%;
		text-align: left;
		left: 1%;
	}
}

*/